/* CSS for Card component */

.card {
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  min-height: 260px;
  background: #fff;
  cursor: pointer;
  padding: 20px;
  /* So the flip arrow image/svg stays in the upper corner of the card div element */
  position: relative;
}

.flip-arrow {
  float: right;
  padding: 2px;
}

.card-data-div {
  padding: 15px;
}

.survey-div {
  padding-top: 75px;
  width: 100%;
  max-width: 100%;
}

.easy, .medium, .difficult {
  min-height: 100px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.easy > span, 
.medium > span, 
.difficult > span {
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.easy:hover > span, 
.medium:hover > span, 
.difficult:hover > span {
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.easy:hover > img, 
.medium:hover > img, 
.difficult:hover > img {
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
}

/* the red X no icon is slightly smaller (inset) than the yes check mark svg */
/* .difficult {
  width: 44px;
  padding: -1px;
} */
