/* CSS for Card component */

.card {
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  min-height: 260px;
  background: #fff;
  cursor: pointer;
  padding: 20px;
}
