input {
  min-height: 25px;
  width: 100%;
  padding: 7px;
  font-size: larger;
  text-align: center;
}

input.create-deck,
input.add-card {
  background-color: #A6DD7A;
}

button.save-deck {
  background-color: #4666FF;
}

button.cancel-create-deck {
  background-color: #FF6646;
}