body {
  text-align: center;
  font-size: 115%;
}

h1,
h2,
h3 {
  margin: 4px;
  padding: 10px;
  font-weight: 600;
  font-size: larger;
}

button {
  padding: 12px;
  border-radius: 4px;
  color: #5f6368;
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  cursor: pointer;
}

.scoreboard,
.flashcards-container,
.decks {
  max-width: 920px;
  margin: 10px auto;
  margin-bottom: 45px;
}

.grid-div,
.grid-div-even {
  display: grid;
  grid-template-columns: repeat(1, 1fr 10fr 1fr);
  grid-gap: 10px;
  margin: 10px;
  /* prevent CSS grid from overflowing its container */
  min-width: 0;
  min-height: 0;
}

.grid-div-even {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

@media all and (min-width: 620px) {
  .grid-div-even {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
}

@media all and (min-width: 1200px) {
  .grid-div-even {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
  }
}

.grid-item {
  overflow: hidden;
  min-width: 0;
}

.controls {
  width: 100%;
  height: 65px;
  margin-top: 90px;
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
  cursor: pointer;
}

/* CSS Grid layouts */
.grid-parent {
  display: grid;
  grid-gap: 10px;
  margin: 10px;
  /* prevent CSS grid from overflowing its container */
  min-width: 0;
  min-height: 0;
}

.grid-parent-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-parent-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-children {
  background-color: #444;
  color: #fff;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 15px;
}