body {
  text-align: center;
  font-size: 115%;
  background-color: #fafafa;
}

body,
#root,
.main {
  /* To fix React's default structure adding some top space in Chrome */
  margin-top: -5px;
  padding-top: 5px;  
}

h1,
h2,
h3 {
  margin: 4px;
  padding: 10px;
  font-size: larger;
}

button {
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #5f6368; */
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0,0,0,0.0001), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border: 1px dashed rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 15px;
  background-color: rgba(255,255,255,0.05);
}

.main,
.scoreboard,
.container,
.decks {
  max-width: 920px;
  margin: 0 auto;
}

.controls {
  width: 100%;
  height: 80%;
  margin: auto;
  cursor: pointer;
}

/* CSS Grid layouts */
.grid-parent {
  display: grid;
  grid-gap: 1px;
  margin: 2px 1px;
  /* prevent CSS grid from overflowing its container */
  min-width: 0;
  min-height: 0;
}

.grid-parent-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-parent-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.flashcards-container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  /* prevent CSS grid from overflowing its container */
  min-width: 0;
  min-height: 0;
}

/* Media Queries - Medium and Larger Screens */
@media all and (min-width: 620px) {
  .flashcards-container {
    margin: 10px;
  }
}

@media all and (min-width: 1200px) {
  .flashcards-container {
    margin: 20px;
  }
}
