body {
  text-align: center;
  font-size: 115%;
  background-color: #fafafa;
}

body,
#root,
.main {
  /* To fix React's default structure adding some top space in Chrome */
  margin: -5px auto 0;
  padding-top: 5px;  
}

.main {
  min-height: 85vh;
}

h1,
h2,
h3 {
  margin: 4px;
  padding: 10px;
  font-size: larger;
}

a {
  text-decoration: none;
  color: initial;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #bada55;
}

.nav-links {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em 1em;
}

.active {
  font-size: 105%;
  border-bottom: 2px solid green;
}

button,
.button {
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
  /* color: #5f6368; */
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px 4px rgba(0,0,0,0.0001), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border: 1px dashed rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 15px;
  background-color: rgba(0,0,0,0.1);
}
