.grid-parent.score-holder {
  max-width: 600px;
  margin: 1px auto;
}

.scoreboard-title-text {
  text-transform: uppercase;
}

.small {
  font-size: small;
}

.score-holder.grid-child {
  padding: 5px 3px;
  margin: 5px 0;
}